{% extends "main/header.html"  %}
{%  block content %}
<div class="col s12 m6 14">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">
<marquee><h3>History of Emmanuel Mhetu</h3></marquee>
<br><img src="static/main/img/United_nations.jpg" ><br>
    <p>My name is Emmanuel Mhetu,  l am a computer scientist and enterprenuer. l started programming when l was 18 years 
        . l love Mathematics and really enjoy working with computers writing  code and teaching others how to code 
        In terms of my experience l have worked with the United Nations here in Zimbabwe under the United Nations Field Security Office 
        at the United Nations headquaters here in Zimbabwe.l am a full stack web developer and my favaourate programming language is python
    l love this programming language because you can abusolutely do anything with it
from web development like this website, artificial intelligence, robotics, data science, game development, mobile app development
Internet of things, just name it and you have it. In terms of my experience now l am good in systems administration and network management
,data analytics, web development, mobile app development, systems analysis and design, programming, database management because when l was a UN ICT intern was managing a big database of UN agencies in Zimbabwe
that are World bank, IMF, WHO,WFP,UNICEF just to mention a few. l love computers and being a computer scientist
is now party of my life and when l work up every morning switching on my computer l feel great</p>    
   
<br><br>
<div>
<p>l am very social, follow me on twitter</p>
<div>
        <a href="https://twitter.com/intent/tweet?screen_name=profmhetu&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @profmhetu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<br><br>
</div></span>

   
{%  endblock %}
