{% extends "main/header.html" %}

{% block content %}
<div  class="row"><marquee><h1>What you can hire me for</h1></marquee>
<div class="col s12 m6 14">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><h5>1. Web application development</h5></span>
              <p>Note that this website was developed from scratch using a django web framework. l am the one who
                    designed the frontend and the backend of this web app, and hence note that l can also do on your project
                    that you are hiring me on.</p>
          </div>

        </div>
      </div>


<p>
</p>
<div class="col s12 m6 14">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><li>2. Data Science </li></span>
<p>As you have seen on this platform that l am a data scientist, you can also hire 
    me so that l can be able to pull out insights from your data. l love mathematics, l love python 
    and l love playing with big data. Hire me
</p>

</div>

</div>
</div>
<div class="col s12 m6 14">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><li>3. Chat bot Development</li></span>
<p>As you can see that there is a nice and very efficient chat bot on this platform called python4allbot,
    l can develop something unique and custom that meet your business plan. Hire me.
</p>
</div>

</div>
</div>
<div class="col s12 m6 14">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">
<li>4. General IT Consulting</li></span>
<p>Since you have seen from this platform that with python you can do abusolutely anythin</p>
</div>

</div>
</div>
<h2>Rules when hiring me</h2>

</div>
{% endblock %}