{% extends "main/header.html"  %}
{%  block content %}
        
        <h2>What we do</h2>
        <li>Web development using python and django</li>
        <li>Game development using pygame and python</li>
        <li>Mobile app development using kivy and python</li>
        <li>Data Science using python</li>
        <li>Machine Learning, robotics and Artificial intelligence using python</li>
        <li>Natural language processing using NLTK and python</li>
        <li>Internet of things using pyhton</li>
        <li>Computer security and ethical hacking using python</li>
{%  endblock %}
